<!-- templates/favorites/favorite_page.html -->
{% extends "sip/base.html" %}

{% block content %}
<style>
    /* Add or modify styles as needed */

    body {
        background-color: #002C1D;
        padding: 40px;
        margin-top: 120px;
        color: white;
        text-align: center;
    }

    .gallery {
        display: flex;
        overflow: auto;
    }

    .gallery-cell {
        scroll-snap-align: start;
        margin-right: 20px;
        background-color: white;
        animation: carousel 10s linear infinite;
        border-radius: 5px;
    }

    img {
        max-width: 450px;
        max-height: 350px;
        width: 100%; /* Set to 100% to make it responsive */
        height: auto; /* Maintain aspect ratio */
        object-fit: cover;
        border-radius: 5px;
    }

    h1 {
        font-family: 'Barlow Semi Condensed', sans-serif;
        color: white;
        list-style: none;
        text-decoration: none;
        font-size: 30px; /* Adjust as needed */
        margin: 10px 0;
    }

    h2 {
        font-family: 'Barlow Semi Condensed', sans-serif;
        color: black;
        list-style: none;
        text-decoration: none;
        font-size: 18px; /* Adjust as needed */
        margin: 10px 0;
    }
</style>

<body>
    <h1>Favourite Cocktails</h1>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        {% for fav_cocktail in favourite_cocktails %}
            <div class="gallery-cell">
                <a href="{% url 'SIP:cocktail_detail' fav_cocktail.cocktail.id %}">
                    <img src="{{ fav_cocktail.cocktail.image }}" alt="{{ fav_cocktail.cocktail.name }}">
                    <h2>{{ fav_cocktail.cocktail.name }}</h2>
                </a>
            </div>
        {% empty %}
            <p>No favourite cocktails yet.</p>
        {% endfor %}
    </div>

    <h1>Favourite Ingredients</h1>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
        {% for fav_ingredient in favourite_ingredients %}
            <div class="gallery-cell">
                <a href="{% url 'SIP:ingredient_detail' fav_ingredient.ingredient.id %}">
                    <img src="{{ fav_ingredient.ingredient.image }}" alt="{{ fav_ingredient.ingredient.name }}">
                    <h2>{{ fav_ingredient.ingredient.name }}</h2>
                </a>
            </div>
        {% empty %}
            <p>No favourite ingredients yet.</p>
        {% endfor %}
    </div>
</body>
</html>

<script>
    // Include your slick carousel script here if needed
</script>
{% endblock %}
