<link href="https://fonts.cdnfonts.com/css/riesling" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Italianno&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<style>
    nav {
        z-index: 10000;
    }

    body {
        padding-top: 110px;
    }

    .navbar {
        width: 100%;
        height: 110px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0px;
        right: 0;
        background-color: #002C1D;
        border-bottom: #F5F5DC solid 5px;
    }

    .navbar-brand {
        font-family: Riesling;
        font-size: 90px;
        font-weight: 400;
        color: #F5F5DC;
        word-wrap: break-word;
        margin-left: 25px;
        text-decoration: none;
    }

    .nav-right {
        font-family: 'Barlow Semi Condensed', sans-serif;
        position: fixed;
        float: right;
        right: 0;
        margin-top: 27px;
        margin-right: 25px;
        display: flex;
        list-style: none;
    }

    .log-auths {
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-color: #282828;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        margin-left: 25px;
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-top: 9px;
        height: 40px;
    }

    .logs-text {
        font-family: 'Barlow Semi Condensed', sans-serif;
        color: #F5F5DC;
        font-size: 15px;
        font-weight: 600;
        word-wrap: break-word;
        /* padding-left: 20px;
        padding-right: 20px; */
        margin-top: -9px;
    }

    .nav-link {
        color: #282828;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-us {
        font-family: 'Barlow Semi Condensed', sans-serif;
        text-decoration: none;
        background-color: #FFFDD1;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        margin-left: 25px;
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5.5px;
        height: 30px;
        line-height: 11px;
    }

    #search {
        width: 400px;
    }

    .sel {
        font-family: 'Barlow Semi Condensed', sans-serif;
        text-decoration: none;
        /* background-color: #FFFDD1; */
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        margin-left: 25px;
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5.5px;
        height: 30px;
        line-height: 11px;
        list-style: none;
    }

    #argh {
        list-style: none;
    }

    .gale {
        text-align: center;
        margin-top: 9px;
    }

    .wine-loader {
        position: fixed;
        top: 110px;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #002C1D;
        transition: opacity 0.4s, visibility 0.4s;
    }

    .wine-loader--hidden {
        opacity: 0;
        visibility: hidden;
    }

    .wine-bowl {
        margin-top: -170px;
        height: 55px;
        width: 50px;
        position: relative;
        border: 3px solid #F5F5DC;
        background-color: #F5F5DC;
        border-radius: 15% 15% 50% 50%;
        overflow: hidden;
    }

    .wine-bowl::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        width: 80px;
        height: 80px;
        background-color: #4F2026;
        transform: translateX(-50%);
        border-radius: 45%;
        animation: fill 3s infinite linear;
    }

    @keyframes fill {
        from {
            top: 100%;
            transform: translateX(-50%) rotate(0deg);
        }
        to {
            top: 10%;
            transform: translateX(-50%) rotate(360deg);
        }
    }

    .wine-stem {
        height: 55px;
        width: 4px;
        background-color: #F5F5DC;
    }

    .wine-foot {
        height: 10px;
        width: 40px;
        border-radius: 50%;
        background-color: #F5F5DC;
    }

</style>

<script>
    function showLoader() {
        document.querySelector(".wine-loader").classList.remove("wine-loader--hidden");
    }

    function hideLoader() {
        document.querySelector(".wine-loader").classList.add("wine-loader--hidden");
    }

    window.addEventListener("load", () => {
        hideLoader();
    });

    $(document).ready(function () {
        $(window).on('beforeunload', function () {
            showLoader();
        });
    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'SIP:index' %}">Sip</a>

    <ul class="nav-right">

        <a class="about-us" href="{% url 'SIP:game' %}"><p class="gale">Game</p></a>

        <a class="about-us" href="{% url 'SIP:leaderboard' %}"><p class="gale">Leaderboard</p></a>

        <a class="about-us" href="{% url 'SIP:favourite_list' %}"><p class="gale">Favourites</p></a>

        <a class="about-us" href="{% url 'SIP:search' %}"><p class="gale">Search</p></a>

        <li>
            <!-- About Us -->
            <form action="https://github.com/xNatthapol/SIP/wiki" target="_blank">
                <input class="about-us" type="submit" value="About us"/>
            </form>
        </li>
        <li>
            {% if user.is_authenticated %}
                <button class="log-auths">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
                        <p class="logs-text">Logout</p>
                    </a>
                </button>
            {% else %}
                <button class="log-auths" style="padding: 9px;">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
                        <p class="logs-text">Login</p>
                    </a>
                </button>
            {% endif %}
        </li>
    </ul>
</nav>

<div class="wine-loader">
    <div class="wine-bowl"></div>
    <div class="wine-stem"></div>
    <div class="wine-foot"></div>
</div>

