<link href="https://fonts.cdnfonts.com/css/riesling" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Italianno&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<style>
    body {
        padding-top: 110px;
    }

    .navbar {
        width: 100%;
        height: 110px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0px;
        right: 0;
        background-color: #002C1D;
        border-bottom: #F5F5DC solid 5px;
    }

    .navbar-brand {
        font-family: Riesling;
        font-size: 90px;
        font-weight: 400;
        color: #F5F5DC;
        word-wrap: break-word;
        margin-left: 25px;
        text-decoration: none;
    }

    .nav-right {
        font-family: 'Barlow Semi Condensed', sans-serif;
        position: fixed;
        float: right;
        right: 0;
        margin-top: 27px;
        margin-right: 25px;
        display: flex;
        list-style: none;
    }

    .log-auths {
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-color: #282828;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        margin-left: 25px;
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-top: 9px;
        height: 40px;
    }

    .logs-text {
        font-family: 'Barlow Semi Condensed', sans-serif;
        color: #F5F5DC;
        font-size: 15px;
        font-weight: 600;
        word-wrap: break-word;
        /* padding-left: 20px;
        padding-right: 20px; */
        margin-top: -9px;
    }

    .nav-link {
        color: #282828;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-us {
        font-family: 'Barlow Semi Condensed', sans-serif;
        text-decoration: none;
        background-color: #FFFDD1;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        margin-left: 25px;
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5.5px;
        height: 30px;
        line-height: 11px;
    }

    #search {
        width: 400px;
    }

    .sel {
        font-family: 'Barlow Semi Condensed', sans-serif;
        text-decoration: none;
        /* background-color: #FFFDD1; */
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border: none;
        margin-left: 25px;
        font-size: 15px;
        font-weight: 600;
        color: #282828;
        word-wrap: break-word;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5.5px;
        height: 30px;
        line-height: 11px;
        list-style: none;
    }

    #argh {
        list-style: none;
    }

    .gale {
        text-align: center;
        margin-top: 9px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'SIP:index' %}">Sip</a>

    <ul class="nav-right">
        <form id="argh" class="form-inline" method="post" action="{% url 'SIP:index' %}">
            {% csrf_token %}
            <li>
                <select class="sel" name="search_type">
                    <option value="cocktail" {% if search_type == 'cocktail' %}selected{% endif %}>Cocktail</option>
                    <option value="ingredient" {% if search_type == 'ingredient' %}selected{% endif %}>Ingredient</option>
                </select>
                <select class="sel" name="search_by">
                    <option value="api" {% if search_by == 'api' %}selected{% endif %}>API</option>
                    <option value="db" {% if search_by == 'db' %}selected{% endif %}>DB</option>
                </select>
                <input class="about-us" type="text" id="search" name="search" placeholder="Search" value="{{ search_cocktail }}">
                <!-- <input class="search-button" type="submit" value/> -->
            </li>
        </form>

        <a class="about-us" href="{% url 'SIP:game' %}"><p class="gale">Game</p></a>

        <a class="about-us" href="{% url 'SIP:leaderboard' %}"><p class="gale">Leaderboard</p></a>

        <li>
            <!-- About Us -->
            <form action="https://github.com/xNatthapol/SIP/wiki" target="_blank">
                <input class="about-us" type="submit" value="About us"/>
            </form>
        </li>
        <li>
            {% if user.is_authenticated %}
                <button class="log-auths">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
                        <p class="logs-text">Logout</p>
                    </a>
                </button>
            {% else %}
                <button class="log-auths" style="padding: 9px;">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
                        <p class="logs-text">Login</p>
                    </a>
                </button>
            {% endif %}
        </li>
    </ul>
</nav>
