<!-- templates/sip/upload_image.html -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css">

{% extends 'sip/base.html' %}
{% load static %}


{% block content %}
<style>
    .hidden {
        display: none;
    }

    body {
        background-color: #002C1D;
        margin-top: 120px;
        padding: 40px;
    }

    .text {
        font-family: 'Barlow Semi Condensed', sans-serif;
        color: white;
    }


</style>
    <body>
    <form class="text" method="post" enctype="multipart/form-data" id="cocktail-form">
        {% csrf_token %}
        {{ cocktail_form.as_p }}

        <table id="ingredient-formset">
            <!-- Header row with labels -->
            <tr class="form-header">
                <th class="text">Ingredients</th>
                <th class="text"></th>
            </tr>
            {{ ingredient_formset.management_form }}

            {% for form in ingredient_formset %}
                <tr class="form-row" style="display: none;">
                    {% csrf_token %}
                    <td>{{ form.ingredient }}</td>
                    <td>{{ form.measure }} {{ form.measure_unit }}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <button type="button" id="add-more-forms">Add More Forms</button>
        <input type="submit" value=Save">
    </form>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
    <script>

        $(document).ready(function() {
            $('.select2').select2();
        });

        $(document).ready(function () {
            var totalForms = 15;  // The total number of forms initially rendered
            var currentForm = 0;  // Track the current visible form

            // Function to show the next form
            function showNextForm() {
                $('#ingredient-formset tbody tr.form-row:eq(' + currentForm + ')').show();
                currentForm++;

                // If all forms are shown, hide the "Add More Forms" button
                if (currentForm === totalForms) {
                    $('#add-more-forms').hide();
                }
            }

            // Initially show the first form
            showNextForm();

            // Attach click event to the "Add More Forms" button
            $('#add-more-forms').on('click', function () {
                showNextForm();
            });
        });
    </script>
    </body>
{% endblock %}
