{% load socialaccount %}
<html>
  <head>
    <title>Login page</title>
  </head>
  <body>
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }} !</h1>
    {% else %}
        <h1>Login Page</h1>
        <button onclick="document.location='{% provider_login_url 'google' %}'">
            Login with Google
        </button>
        <button onclick="document.location='{% provider_login_url 'github' %}'">
            Login with GitHub
        </button>
    {% endif %}
  </body>
</html>
